body {
  background-color: #333333;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.blog-post {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  height: 100%;
  padding: 20px;
  width: 80%;
}

.blog-post a {
  -webkit-transition: color 150ms ease;
  color: rgba(0, 0, 255, 1);
  transition: color 150ms ease;
}

.blog-post a:hover {
  color: rgba(0, 0, 255, 0.5);
}

.blog-post h1 {
  color: rgba(0, 0, 255, 1);
  font-size: 45px;
  margin: 0 auto;
  width: 75%;
}

.blog-post p {
  font-size: 18px;
  margin: 0 auto;
  text-indent: 20px;
  width: 75%;
}

.blog-post ol {
  font-size: 18px;
  margin: 0 auto;
  width: 75%;
}

.blog-post li {
  list-style-type: none;
  color: rgba(0, 102, 255, 1);
  /* outline: solid 1px red; */
}

.blog-post ol li::before {
  content: "~";
  color: #000;
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}

.blog-quote {
  box-shadow: 0 10px 10px #000;
  margin: 50px auto;
  outline: solid 1px #fff;
  width: 500px;
}

.blog-quote img {
  height: 100%;
  width: 100%;
}

.fa-meh-o,
.fa-flag-o {
  color: rgba(0, 0, 255, 1);
  font-size: 20px;
  margin-left: -15px;
}

.footer {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  width: 80%;
}

.footer-logo {
  margin: 10px auto 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

iframe {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border: solid 1px #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  height: 350px;
  width: 600px;
}

.iframe-container {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.main-container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.social-media {
  -ms-flex-pack: distribute;
  border-top: solid 1px rgba(0, 0, 0, 0.85);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%;
  padding: 20px;
}

.social-media i {
  -webkit-transition: color 150ms ease;
  color: #B22222;
  font-size: 50px;
  margin: 0 30px;
  text-shadow: 0 1px 1px #000;
  transition: color 150ms ease;
}

.social-media i:hover {
  color: #fff;
  cursor: pointer;
}

.sources-container {
  border-top: solid 1px #000;
  margin: 0 auto 20px auto;
  width: 75%;
  text-align: left;
}

.sources-container h2 {
  color: rgba(0, 0, 255, 1);
  font-size: 30px;
  margin: 0 auto 5px auto;
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: right 250ms ease;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  /* border: solid 1px #000; */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  bottom: 10px;
  color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 28px;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: -50px;
  text-decoration: none;
  transition: right 250ms ease;
  width: 40px;
}

@media (max-width: 1000px) {
  .blog-post {
    padding: 20px;
    width: 90%;
  }

  .blog-post p,
  .blog-post h1,
  .blog-post ol,
  .social-media,
  .sources-container {
    width: 85%;
  }

  .blog-post p,
  .blog-post ol,
  .sources-container span {
    font-size: 16px;
  }

  .blog-post h1 {
    font-size: 30px;
  }

  .blog-quote {
    margin: 30px auto;
    width: 400px;
  }

  .footer {
    font-size: 16px;
    width: 90%;
  }

  iframe {
    height: 300px;
    width: 500px;
  }

  .sources-container h2 {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .blog-post {
    padding: 15px;
    width: 100%;
  }

  .blog-post p,
  .blog-post h1,
  .blog-post ol,
  .social-media,
  .sources-container {
    width: 90%;
  }

  .blog-post h1 {
    font-size: 26px;
  }

  .blog-quote {
    margin: 10px auto;
    width: 300px;
  }

  .footer {
    font-size: 14px;
    width: 100%;
  }

  iframe {
    height: 250px;
    width: 400px;
  }

  .iframe-container {
    margin: 10px 0;
  }

  .social-media i {
    margin: 0 20px;
    text-shadow: none;
  }

  .social-media i:hover {
    color: #B22222;
  }
}

@media (max-width: 400px) {

  .blog-post p,
  .blog-post h1,
  .blog-post ol,
  .social-media,
  .sources-container {
    width: 95%;
  }

  .blog-quote {
    margin: 0;
    outline: none;
    width: 100%;
  }

  .social-media i {
    font-size: 34px;
  }
}