@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about {
  background-attachment: fixed;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/books.jpeg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/books.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/books.jpeg");
  background-position: center;
  background-size: cover;
  border-top: solid 1px #fff;
}

.about img {
  border: solid 1px #fff;
  margin-bottom: 20px;
  max-width: 400px;
}

.blog {
  background-attachment: fixed;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/blog.jpeg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/blog.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/blog.jpeg");
  background-position: center;
  background-size: cover;
  border-top: solid 1px #fff;
  margin-bottom: 75px;
}

.blog-admin {
  color: rgba(255, 255, 255, 0.45);
  font-style: normal;
  margin-right: 10px;
}

.blog-container {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-container img {
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  width: 100%;
}

.blog-container img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-container span:nth-child(odd) {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}

.blog-container span:nth-child(even) {
  background-color: #000;
  border-left: solid 1px #fff;
  padding: 10px;
  position: relative;
  text-align: left;
}

.blog-info {
  border: solid 1px #fff;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 60% 40%;
  height: 275px;
  margin: 20px;
  padding: 5px;
  width: 650px;
}

.blog-link {
  -webkit-transition: color 100ms ease-in;
  bottom: 100px;
  color: #fff;
  font-size: 25px;
  position: absolute;
  text-decoration: none;
  transition: color 100ms ease-in;
}

.blog-link:hover {
  color: rgba(0, 102, 255, 0.5);
}

.blog-post-date {
  position: absolute;
}

.blog-share {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background: none;
  border: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 10px;
}

.blog-share:hover {
  cursor: pointer;
}

.blog-share-dots {
  border: solid 2px #fff;
  border-radius: 50%;
  margin: 2px;
}

body {
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.container-title {
  font-size: 75px;
}

.fa-arrow-down {
  color: rgb(220, 20, 60);
  font-size: 30px;
  margin-top: -20px;
}

.fa-flag-o {
  color: rgb(220, 20, 60);
  margin: 0 20px;
}

.fa-lock {
  color: rgba(0, 102, 255, 1);
}

.footer {
  background-color: #000;
  border-top: solid 1px #fff;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h3 {
  font-size: 50px;
}

iframe {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  border: solid 1px #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  height: 350px;
  width: 600px;
}

.innovation {
  background-attachment: fixed;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/innovation.jpg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/innovation.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/innovation.jpg");
  background-position: center;
  background-size: cover;
  border-top: solid 1px #fff;
  margin-bottom: 75px;
}

.innovation a {
  -webkit-transition: opacity 150ms ease;
  color: rgba(0, 102, 255, 1);
  font-size: 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000, 0px -1px 0px #000, 1px 0px 0px #000,
    -1px 0px 0px #000;
  transition: opacity 150ms ease;
}

.innovation a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.intro {
  background-attachment: fixed;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/books.jpeg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/books.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/books.jpeg");
  background-position: center;
  background-size: cover;
  margin-bottom: 75px;
}

.intro button {
  -webkit-transition: all 150ms ease-in;
  background-color: rgba(0, 102, 255, 1);
  border-bottom-right-radius: 2px;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #000;
  border-right: solid 1px #fff;
  border-top-right-radius: 2px;
  border-top: solid 1px #fff;
  color: #000;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  margin-left: -5px;
  padding: 4px 10px;
  position: relative;
  transition: all 150ms ease-in;
}

.intro button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.intro-form {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.intro input {
  background-color: rgba(220, 220, 220, 0.75);
  border-bottom-left-radius: 2px;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: none;
  border-top-left-radius: 2px;
  border-top: solid 1px #fff;
  color: #000;
  font-size: 16px;
  height: 30px;
  margin: 20px 0;
  padding: 5px;
}

.intro label {
  color: rgba(0, 102, 255, 1);
  font-size: 18px;
}

.intro,
.landing,
.blog,
.podcast,
.portfolio,
.innovation,
.learning,
.about {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  height: 100%;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 0px 20px #000;
}

.intro p,
.landing p,
.blog p,
.podcast p,
.portfolio p,
.innovation p,
.learning p,
.about p {
  font-size: 25px;
  margin: 0 auto 20px auto;
  width: 75%;
}

.landing {
  padding-top: 75px;
}

.learning {
  background-attachment: fixed;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/book.jpeg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/book.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/book.jpeg");
  background-position: center;
  background-size: cover;
  border-top: solid 1px #fff;
  margin-bottom: 75px;
}

.learning a {
  text-decoration: none;
}

.learning li {
  -webkit-transition: all 150ms ease;
  color: rgba(0, 102, 255, 1);
  font-size: 25px;
  list-style-type: none;
  margin: 20px 0;
  text-shadow: 0px 1px 0px #000, 0px -1px 0px #000, 1px 0px 0px #000,
    -1px 0px 0px #000;
  transition: all 150ms ease;
}

.learning ol {
  margin: 0 auto;
  max-width: 75%;
  text-align: center;
}

.learning ol li::before {
  content: "~";
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}

.learning li:hover {
  color: #fff;
}

.main {
  min-height: 100%;
}

.nav-box {
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  -webkit-transform: translateX(-50%);
  background-color: #000;
  border-radius: 25px;
  border: solid 1px #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 10px;
  transform: translateX(-50%);
  width: 75%;
  z-index: 100;
}

.nav-link {
  -webkit-transition: color 150ms ease;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  text-decoration: none;
  transition: color 150ms ease;
}

.nav-link:hover {
  color: rgba(0, 102, 255, 0.5);
  cursor: pointer;
}

.podcast {
  background-attachment: fixed;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/podcast.jpeg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/podcast.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("../img/podcast.jpeg");
  background-position: center;
  background-size: cover;
  border-top: solid 1px #fff;
  margin-bottom: 75px;
  padding-bottom: 50px;
}

.podcast i {
  -webkit-transition: opacity 150ms ease;
  color: rgba(0, 102, 255, 1);
  font-size: 80px;
  transition: all 150ms ease;
}

.podcast i:hover {
  color: #fff;
  cursor: pointer;
}

.portfolio {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  background-attachment: fixed;
  background-image: url("../img/portfolio.jpeg");
  background-position: center;
  background-size: cover;
  border-top: solid 1px #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.portfolio-link {
  -webkit-transition: all 150ms ease;
  color: rgba(0, 102, 255, 1);
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 150ms ease;
}

.portfolio-link:hover {
  color: #fff;
  opacity: 0.75;
}

.social-media-container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0 0 10px;
  position: fixed;
  z-index: 1;
}

.social-media-container i {
  -webkit-transition: all 150ms ease;
  color: rgb(227, 24, 55);
  font-size: 45px;
  text-shadow: 0px 1px 0px #000, 0px -1px 0px #000, 1px 0px 0px #000,
    -1px 0px 0px #000;
  transition: all 150ms ease;
}

.social-media-container i:hover {
  color: #fff;
  cursor: pointer;
}

.up-arrow {
  align-items: center;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 50%;
  bottom: 10px;
  color: #000;
  display: flex;
  font-size: 28px;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: -50px;
  text-decoration: none;
  transition: right 250ms ease;
  width: 40px;
}

@media (max-width: 1300px) {
  .blog-link {
    font-size: 20px;
  }

  .container-title {
    font-size: 65px;
  }

  h3 {
    font-size: 40px;
  }

  .intro p,
  .landing p,
  .blog p,
  .podcast p,
  .portfolio p,
  .innovation p,
  .learning p,
  .about p {
    font-size: 20px;
  }

  .nav-box {
    width: 90%;
  }

  .nav-link {
    font-size: 20px;
  }

  .social-media-container {
    padding: 80px 0 0 10px;
  }
}

@media (max-width: 700px) {
  .blog {
    width: 100%;
  }

  .blog-link {
    font-size: 18px;
  }

  .fa-flag-o {
    margin: 0 10px;
  }

  .footer {
    font-size: 14px;
  }

  .container-title {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  iframe {
    height: 300px;
    width: 500px;
  }

  .intro p,
  .landing p,
  .blog p,
  .podcast p,
  .portfolio p,
  .innovation p,
  .learning p,
  .about p {
    font-size: 16px;
    width: 85%;
  }

  .intro button {
    height: auto;
    font-size: 14px;
    padding: 2px 10px;
  }

  .intro button::after {
    font-size: 20px;
    margin-top: -5px;
  }

  .intro input {
    font-size: 14px;
    height: auto;
    padding: 2px;
  }

  .intro label {
    font-size: 14px;
  }

  .learning li {
    font-size: 18px;
    margin: 10px 0;
  }

  .learning ol {
    text-align: left;
  }

  .nav-box {
    border-left: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
    box-shadow: none;
    flex-wrap: wrap;
    padding: 5px 10px;
    top: 0;
    width: 100%;
  }

  .nav-link {
    font-size: 16px;
    margin: 5px;
  }

  .portfolio-link {
    font-size: 20px;
  }

  .social-media-container {
    flex-direction: row;
    justify-content: center;
    padding: 75px 0 0 10px;
    width: 100%;
  }

  .social-media-container i {
    font-size: 30px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .about img {
    max-width: 200px;
  }

  .blog-admin {
    font-size: 14px;
  }

  .blog-container img:hover {
    transform: none;
  }

  .blog-container span:nth-child(even) {
    border-left: none;
    border-top: solid 1px #fff;
  }

  .blog-info {
    border-left: none;
    border-right: none;
    grid-template-columns: 100%;
    margin: 15px 0;
    padding: 0;
    width: 100%;
  }

  .blog-link {
    bottom: 0;
    font-size: 16px;
    position: relative;
  }

  .blog-post-date {
    position: relative;
  }

  .fa-arrow-down {
    font-size: 20px;
  }

  .fa-flag-o {
    margin: 0 5px;
  }

  iframe {
    height: 200px;
    width: 350px;
  }

  .innovation a {
    font-size: 16px;
  }

  .intro {
    padding-top: 100px;
  }

  .learning li {
    font-size: 16px;
  }

  .portfolio-link {
    font-size: 18px;
  }

  .social-media-container {
    padding: 100px 0 0 10px;
  }
}
